# Deliverable 2

In [1]:
# Import dependencies
import pandas as pd

# File to load
vine_data_to_load = "vine_table.csv"

# Read vine data
vine_df = pd.read_csv(vine_data_to_load)

In [4]:
# Check vine DataFrame
vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RED72VWWCOS7S,1.0,2.0,8.0,N,Y
1,RZHWQ208LTEPV,5.0,0.0,0.0,N,Y
2,R37LBC3XAVLYOO,5.0,4.0,5.0,N,Y
3,R3L7XJMA0MVJWC,5.0,0.0,0.0,N,Y
4,R2I2GHSI7T1UBN,1.0,5.0,6.0,N,Y
...,...,...,...,...,...,...
1048570,R346JBLB1K4ICT,1.0,1.0,3.0,N,N
1048571,R29S5N86RM7AND,4.0,0.0,0.0,N,Y
1048572,RFTJKPVMCV8BU,4.0,1.0,2.0,N,Y
1048573,R9U57R3WP1SQD,5.0,0.0,0.0,N,Y
1048574,R3UE2BL3P1UPNV,1.0,0.0,1.0,N,Y

## 1. Filter the data and create a new DF to retrieve all rows where total_votes >= 20

In [31]:
helpful_votes_df = vine_df[vine_df['total_votes'] >= 20]
helpful_votes_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
159,RQQ3KVTU5TJ4I,5.0,24.0,29.0,N,Y
213,R3FELXWV9T5CWE,2.0,22.0,24.0,N,Y
225,ROBYK6EZYK398,5.0,29.0,30.0,N,Y
252,R2RKCSAG6GBA4A,1.0,8.0,28.0,N,Y
311,R2YVBBR6NXIA4V,5.0,25.0,28.0,N,N
...,...,...,...,...,...,...
1048024,R13H0RFVQJPLO3,5.0,64.0,69.0,N,Y
1048198,R1MN5WDG19HM6L,5.0,25.0,25.0,N,Y
1048282,R2SMT53AOHTNFY,4.0,23.0,23.0,N,Y
1048336,R2HUSPIWT6T1KC,1.0,32.0,32.0,N,N
1048367,RCKA8YHEA6N50,1.0,16.0,21.0,N,Y

## 2. Create new DF to retrieve all rows where helpful_votes/total_votes >= 50%

In [6]:
# Check data types
helpful_votes_df.dtypes

review_id             object
star_rating          float64
helpful_votes        float64
total_votes          float64
vine                  object
verified_purchase     object
dtype: object

In [30]:
better_helpful_df = helpful_votes_df[helpful_votes_df['helpful_votes'] / helpful_votes_df['total_votes'] >= .5]
better_helpful_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
159,RQQ3KVTU5TJ4I,5.0,24.0,29.0,N,Y
213,R3FELXWV9T5CWE,2.0,22.0,24.0,N,Y
225,ROBYK6EZYK398,5.0,29.0,30.0,N,Y
311,R2YVBBR6NXIA4V,5.0,25.0,28.0,N,N
558,R2AVTBDIVG2AW4,5.0,26.0,26.0,N,N
...,...,...,...,...,...,...
1048024,R13H0RFVQJPLO3,5.0,64.0,69.0,N,Y
1048198,R1MN5WDG19HM6L,5.0,25.0,25.0,N,Y
1048282,R2SMT53AOHTNFY,4.0,23.0,23.0,N,Y
1048336,R2HUSPIWT6T1KC,1.0,32.0,32.0,N,N
1048367,RCKA8YHEA6N50,1.0,16.0,21.0,N,Y

## 3. Create new DF to retrieve all rows where review was part of Vine program (paid)

In [33]:
vine_paid_df = better_helpful_df[better_helpful_df.vine == 'Y']
vine_paid_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
37363,R28DXTC3JQ9IY1,4.0,24.0,26.0,Y,N
58520,R3AFZKLQXATHBU,5.0,44.0,49.0,Y,N
83985,R2RUUF2JPJPC0E,4.0,20.0,22.0,Y,N
90459,RFZ2WUH4248AB,2.0,26.0,27.0,Y,N
95122,R1Q4LVHIFOWYFR,5.0,23.0,28.0,Y,N
...,...,...,...,...,...,...
1026908,R9HVHF6O8PVHH,5.0,16.0,29.0,Y,N
1031904,R2T54CP04S45WT,3.0,443.0,465.0,Y,N
1042803,R3GQKK3HI0LWOL,5.0,40.0,48.0,Y,N
1046205,R1TOJKFAG9VIYT,4.0,38.0,41.0,Y,N
1048011,R1XGUO6KX7Y6ZN,5.0,97.0,117.0,Y,N

## 4. Create new DF to retrieve all rows where review was not part of Vine (unpaid)

In [34]:
vine_unpaid_df = better_helpful_df[better_helpful_df.vine == 'N']
vine_unpaid_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
159,RQQ3KVTU5TJ4I,5.0,24.0,29.0,N,Y
213,R3FELXWV9T5CWE,2.0,22.0,24.0,N,Y
225,ROBYK6EZYK398,5.0,29.0,30.0,N,Y
311,R2YVBBR6NXIA4V,5.0,25.0,28.0,N,N
558,R2AVTBDIVG2AW4,5.0,26.0,26.0,N,N
...,...,...,...,...,...,...
1048024,R13H0RFVQJPLO3,5.0,64.0,69.0,N,Y
1048198,R1MN5WDG19HM6L,5.0,25.0,25.0,N,Y
1048282,R2SMT53AOHTNFY,4.0,23.0,23.0,N,Y
1048336,R2HUSPIWT6T1KC,1.0,32.0,32.0,N,N
1048367,RCKA8YHEA6N50,1.0,16.0,21.0,N,Y

## 5. Determine total number of reviews, number of 5-star reviews, and percentage of 5-star reviews for paid and unpaid reviews

### Total number of reviews

In [60]:
len(vine_df)

1048575

### Total number of 5-star reviews

In [61]:
len(vine_df[vine_df['star_rating'] == 5])

668885

### Total number of Vine (paid) 5-star reviews

In [62]:
len(vine_paid_df[vine_paid_df['star_rating'] == 5])

43

### Percentage of Vine (paid) 5-star reviews

In [63]:
len(vine_paid_df[vine_paid_df['star_rating'] == 5]) / len(vine_paid_df) * 100

47.25274725274725

### Total number of unpaid 5-star reviews

In [64]:
len(vine_unpaid_df[vine_unpaid_df['star_rating'] == 5])

4040

### Percentage of unpaid 5-star reviews

In [66]:
len(vine_unpaid_df[vine_unpaid_df['star_rating'] == 5]) / len(vine_unpaid_df) * 100

52.39948119325552